<div class="messages_container">
  <div class="body_messages">
    <p class="other">
      Su pedido esta siendo procesado, le avisaremos por este medio!
    </p>
    <p class="own">Genial, espero</p>

    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="own">Su pedido estara en su domicilio en 20 min!</p>
    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="own">Su pedido estara en su domicilio en 20 min!</p>
    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="own">Su pedido estara en su domicilio en 20 min!</p>
    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="own">Su pedido estara en su domicilio en 20 min!</p>
    <p class="other">Su pedido estara en su domicilio en 20 min!</p>
    <p class="own">Su pedido estara en su domicilio en 20 min!</p>
  </div>
  <div class="input_message">
    <ion-input type="text" placeholder="Escribe tu mensaje"></ion-input>
    <ion-button shape="round">
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>
  </div>
</div>
