.messages_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;

  .loading_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .body_messages {
    flex-grow: 1;
    height: 10px; // para que funcione el overflow tiene que tener un tamano fijo
    overflow-x: scroll;
    border: 1px solid #aed6f1;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    .single_message {
      margin: 0.5rem;
      border-radius: 1rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: flex-start;
      border: 1px solid red;

      p {
        margin: 0;
        padding: 0;
      }
    }

    .own {
      align-self: flex-end;
      border: 1px solid green;
    }

    .other {
    }
  }

  .input_message {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.4rem;
    align-items: center;
    ion-input {
      border: 1px solid black;
      border-radius: 1rem;
      flex-grow: 1;
      color: gray;
    }
  }
}
