<div class="messages_container" *ngIf="messages.length > 0">
  <div
    class="body_messages"
    #messagesBox
    [scrollTop]="messagesBox.scrollHeight"
  >
    <div class="single_message" *ngFor="let message of messages">
      <p>{{ message.role }} dice:</p>
      <p>{{ message.body }}</p>
      <p>{{ message.date | date: "mediumTime" }}</p>
    </div>
  </div>
  <div class="input_message">
    <ion-input type="text" placeholder="Escribe tu mensaje"></ion-input>
    <ion-button shape="round">
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>
  </div>
</div>
