<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Bienvenido !!!</h1>
      <p>Ingresar para continuar</p>
    </div>

    <form class="login-form ion-padding" [formGroup]="loginForm">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </div>
    </form>

    <div class="action-buttons">
      <ion-button class="login-button" (click)="login()" *ngIf="!isLoading">
        Ingresar
      </ion-button>
      <ion-button class="login-button" disabled *ngIf="isLoading">
        <ion-spinner name="bubbles"></ion-spinner>
        Ingresando ...
      </ion-button>
      <!-- <p>Forgot password ?</p> -->
      <ion-button class="signup-button" fill="outline" routerLink="../register">
        Registrate
      </ion-button>
    </div>
  </div>
</ion-content>
