<ion-list>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col
        *ngFor="let order of orders"
        size="12"
        size-xl="3"
        size-lg="4"
        size-md="6"
      >
        <ion-item detail routerLink="../{{ order.id }}">
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h3>{{ order.user.name }}</h3>
            </ion-text>
            <ion-text color="secondary">
              <p>{{ order.total | currency: "Bs. " }}</p>
            </ion-text>
            <ion-text color="tertiary">
              <p>{{ order.createdAt | date: "medium" }}</p>
            </ion-text>

            <ion-badge [color]="getColor(order.state)" mode="md">
              {{ order.state }}
            </ion-badge>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
