<ion-header>
  <ion-toolbar>
    <ion-title>Producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xl="4" size-lg="4" size-md="6">
        <ion-text color="primary">
          <h1>Crea un nuevo producto</h1>
        </ion-text>
        <app-product-new-images></app-product-new-images>
        <app-product-form></app-product-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
