<ion-header>
  <ion-toolbar>
    <ion-title text-center>Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dealers"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <div class="all-row">
      <img class="img-dealer" [src]="dealer.urlImage">
      <div class="details-information">
        <h4 class="inf">Dealer:</h4>
        <h4 class="inf-values">{{ dealer.name }}</h4>
        <h4 class="inf">Empresa:</h4>
        <h4 class="inf-values">{{ dealer.company }}</h4>
        <h4 class="inf">Email:</h4>
        <h4 class="inf-values">{{dealer.email}}</h4>
        <h4 class="inf">
          Telefonos:
        </h4>
        <span class="inf-values" *ngFor="let phone of dealer.phones">
          <ion-chip>
            <ion-label>{{ phone }}</ion-label>
          </ion-chip>
        </span>
      </div>
    </div>
  </div>
</ion-content>
