<ion-content *ngIf="promotion">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/cart">
      <div style="color: #fff; font-size: 1.3rem" *ngIf="cant != 0">
        {{ cant }}
      </div>
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="card">
    <div class="image">
      <ion-img src="assets/loading.gif" *ngIf="imgLoading"></ion-img>
      <ion-img
        [src]="promotion.image"
        (ionImgDidLoad)="imgLoading = false"
      ></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{ promotion.name }}</h1>
        <p class="ion-no-margin">
          <sup>Bs. </sup> {{ promotion.price | number: "1.2" }}
        </p>
      </div>
    </div>

    <div class="about">
      <h1>Descripcion</h1>
      <p>{{ promotion.description }}</p>
    </div>

    <ion-button (click)="addToCart()" expand="block">
      Agregar al carrito
    </ion-button>
  </div>
</ion-content>
