<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/cart">
      <ion-icon slot="end" name="cart-outline"></ion-icon>
      <ion-badge color="primary" mode="md" *ngIf="cant">{{ cant }}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="promotion">
  <div class="promotion_image">
    <ion-img
      [src]="promotion.image"
      (ionImgDidLoad)="inmgDidLoad($event)"
    ></ion-img>
  </div>
  <div class="promotion_detail">
    <p>{{ promotion.name }}</p>
    <p>{{ promotion.price | currency: "Bs. " }}</p>
  </div>

  <div class="promotion_description">
    <p>Descripcion</p>
    <p>{{ promotion.description }}</p>
  </div>

  <ion-button (click)="addToCart()" shape="round" expand="block">
    <ion-icon slot="start" name="add"></ion-icon>
    Agregar al carrito
  </ion-button>
</ion-content>
