<ion-content>
  <ion-grid fixed *ngIf="order">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-toolbar>
          <ion-buttons slot="start" mode="ios">
            <ion-back-button defaultHref="orders" text=""></ion-back-button>
          </ion-buttons>

          <ion-buttons slot="end" *ngIf="order">
            <ion-button routerLink="../chat/{{ order.id }}">
              <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
              Chat
            </ion-button>
          </ion-buttons>

          <ion-buttons
            slot="end"
            *ngIf="order && isNewOrProgress && authService.isAdmin"
          >
            <ion-button routerLink="../options/{{ order.id }}">
              <ion-icon slot="start" name="options-outline"></ion-icon>
              Opciones
            </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <app-order-map [location]="order.location"></app-order-map>
        <div class="description">
          <p>Descripcion: {{ order.description }}</p>
        </div>
        <app-order-details [products]="order.products"></app-order-details>

        <div class="total">
          <p>Total</p>
          <p>{{ order.total | currency: "Bs. " }}</p>
        </div>

        <ion-button
          (click)="setCompleted()"
          color="danger"
          *ngIf="authService.isAdmin && isNewOrProgress && !isLoading"
          shape="round"
          expand="block"
        >
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Finalizar Pedido
        </ion-button>

        <ion-button
          (click)="setNew()"
          color="primary"
          *ngIf="authService.isAdmin && !isNewOrProgress && !isLoading"
          shape="round"
          expand="block"
        >
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
          Reanudar Pedido
        </ion-button>

        <ion-button
          disabled
          color="dark"
          *ngIf="isLoading"
          shape="round"
          expand="block"
        >
          <ion-spinner name="bubbles"></ion-spinner>
          guardando...
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
