<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orders"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="order && isNewOrProgress">
      <ion-button routerLink="../options/{{ order.id }}">
        <ion-icon slot="start" name="options-outline"></ion-icon>
        Opciones
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed *ngIf="order">
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="9" size-lg="6" size-xl="6">
        <app-order-map [location]="order.location"></app-order-map>
        <div class="description">
          <p>Descripcion: {{ order.description }}</p>
        </div>
        <app-order-details [products]="order.products"></app-order-details>

        <div class="total">
          <p>Total</p>
          <p>{{ order.total | currency: "Bs. " }}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="setCompleted()"
          color="danger"
          *ngIf="authService.isAdmin && isNewOrProgress && !isLoading"
          shape="round"
          expand="block"
        >
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Finalizar Pedido
        </ion-button>

        <ion-button
          (click)="setNew()"
          color="primary"
          *ngIf="authService.isAdmin && !isNewOrProgress && !isLoading"
          shape="round"
          expand="block"
        >
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
          Reanudar Pedido
        </ion-button>

        <ion-button
          disabled
          color="dark"
          *ngIf="isLoading"
          shape="round"
          expand="block"
        >
          <ion-spinner name="bubbles"></ion-spinner>
          guardando...
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
