.photo_component_container {
  display: flex;
  flex-direction: column;
  .photo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ion-img {
      max-width: 40%;
    }
  }

  .buttons_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
