<div class="photo_component_container">
  <div class="photo_container">
    <ion-img
      src="assets/no-image.jpg"
      *ngIf="!singlePhoto && !photoDB"
    ></ion-img>
    <ion-img [src]="singlePhoto.webPath" *ngIf="singlePhoto"></ion-img>
    <ion-img [src]="photoDB" *ngIf="photoDB && !singlePhoto"></ion-img>
  </div>

  <div class="buttons_container">
    <ion-button (click)="takePicture()" shape="round">
      <ion-icon slot="start" name="add"></ion-icon>
      Camara
    </ion-button>
    <ion-button (click)="chooseGallery()" shape="round">
      <ion-icon slot="start" name="add"></ion-icon>
      Galeria
    </ion-button>
  </div>
</div>
