<ion-slides mode="md" pager="md" scrollbar="md" [options]="slidesOpt">
  <ion-slide
    *ngFor="let item of imageList"
    class="image-slide"
    [style]="item.image.webPath | domSanitizer"
  >
    <ion-button (click)="removeImage(item.id)" color="danger">
      <ion-icon slot="icon-only" name="remove"></ion-icon>
    </ion-button>
  </ion-slide>
</ion-slides>

<div class="buttons_container">
  <ion-button (click)="takePicture()" shape="round">
    <ion-icon slot="start" name="camera"></ion-icon>
    <ion-label>Camara</ion-label>
  </ion-button>
  <ion-button (click)="chooseFromGallery()" shape="round" color="tertiary">
    <ion-icon slot="start" name="image"></ion-icon>
    <ion-label>Galeria</ion-label>
  </ion-button>
</div>
