<div class="details_container">
  <div class="header_details">
    <p>Imagen</p>
    <p>Detalle</p>
    <p>Subtotal</p>
  </div>
  <div *ngFor="let product of products" class="detail_container">
    <div>
      <ion-avatar>
        <img [src]="product.images[0].url" />
      </ion-avatar>
    </div>

    <div>
      <p>{{ product.name }}</p>
      <p>{{ product.price | currency: "Bs. " }}</p>
      <p>Candidad {{ product.cant }}</p>
    </div>

    <div>
      <p>{{ product.subtotal | currency: "Bs. " }}</p>
    </div>
  </div>
</div>
