.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #666;
  }
  ion-icon {
    font-size: 32px;
    cursor: pointer;
  }
}
