<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/cart"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
        <div class="header">
          <h1>Detalles del pedido</h1>
          <ion-icon
            slot="icon-only"
            name="information-circle-outline"
            (click)="presentPopover()"
          ></ion-icon>
        </div>
        <app-order-map></app-order-map>
        <app-order-form></app-order-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
