<ion-content *ngIf="promotion">
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button
        defaultHref="/promotions"
        color="light"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()" color="light">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="card">
    <div class="image">
      <ion-img src="assets/loading.gif" *ngIf="imgLoading"></ion-img>
      <ion-img
        [src]="promotion.image"
        (ionImgDidLoad)="imgLoading = false"
      ></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{ promotion.name }}</h1>
        <p class="ion-no-margin">
          <sup>Bs. </sup> {{ promotion.price | number: "1.2" }}
        </p>
      </div>
    </div>

    <div class="about">
      <h1>Descripcion</h1>
      <p>{{ promotion.description }}</p>
    </div>
  </div>
</ion-content>
