<ion-header>
  <ion-toolbar>
    <ion-title text-center>Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="promotions"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="promotion">
  <div class="promotion_image">
    <ion-img
      [src]="promotion.image"
      (ionImgDidLoad)="inmgDidLoad($event)"
    ></ion-img>
  </div>
  <div class="promotion_detail">
    <p>{{ promotion.name }}</p>
    <p>{{ promotion.price | currency: "Bs. " }}</p>
  </div>

  <div class="promotion_description">
    <p>Descripcion</p>
    <p>{{ promotion.description }}</p>
  </div>
</ion-content>
