.product_container {
  position: relative;
  background-color: #2c344b;
  margin-top: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-radius: 2rem;

  .product_images {
    position: absolute;
    width: 100%;
    border-radius: 2rem;
    top: -10rem;
  }

  .box_loading {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    p {
      text-align: center;
      font-size: 1.5rem;
      color: #fff;
    }
    p:nth-child(1) {
      font-weight: 600;
      color: #f3f3fb;
    }
    p:nth-child(2) {
      font-weight: 600;
      color: #fff;
    }
    p:nth-child(3) {
      font-weight: 1.2rem;
      color: #bcbcc4;
    }
  }
}
