<ion-header>
  <ion-toolbar>
    <ion-title text-center>Editar Proveedor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dealers"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-input placeholder="Enter Input"></ion-input>
</ion-content>
