<ion-header>
  <ion-toolbar>
    <ion-title text-center>Editar Proveedor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dealers"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="form">
    <ion-input placeholder="" formControlName="name"></ion-input>
    <br/>
    <ion-input placeholder="" formControlName="company"></ion-input>
    <br/>
    <ion-input placeholder="" formControlName="email"></ion-input>
    <br/>

  </form>

</ion-content>
