<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="never" [(ngModel)]="searchText"></ion-searchbar>
  <ion-item>
    <ion-label>Busqueda por categorias</ion-label>
    <ion-select value="all" [(ngModel)]="selectCat">
      <ion-select-option value="all">Todos los productos</ion-select-option>
      <ng-container *ngFor="let cat of categories">
        <ion-select-option value="{{cat}}">{{ cat }}</ion-select-option>
      </ng-container>

    </ion-select>
  </ion-item>
<br>
<br>
  <div class="grid-wrapper">
    <ng-container *ngFor="let product of products | filterCategories:searchText:selectCat">
      <app-item [product]="product"></app-item>
    </ng-container>
  </div>




</ion-content>
