<div class="dealer_container">
  <ion-item>
    <ion-label>Dealer Asignado</ion-label>
    <ion-select value="0" placeholder="Sin assignar">
      <ion-select-option value="1"> Juan - pedidos ya </ion-select-option>
      <ion-select-option value="2"> Eduardo - Chasky </ion-select-option>
      <ion-select-option value="3"> Maria - Loricito </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button>
    <ion-icon slot="start" name="person-outline"></ion-icon>
    Asignar
  </ion-button>
</div>
