<!-- <div class="product_cart_container">
  <div
    class="image_container"
    [style]="product.images[0].url | domSanitizer"
  ></div>
  <div class="detail_container">
    <p>{{ product.name }}</p>
    <p>Precio: {{ product.price }}</p>
    <p>{{ product.subtotal | currency: "Bs. " }}</p>
  </div>
  <div class="counter_container">
    <button (click)="decrementCant(product)">
      <ion-icon slot="icon-only" name="remove"></ion-icon>
    </button>
    <p>{{ product.cant }}</p>
    <button (click)="incrementCant(product)">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </button>
  </div>
</div> -->

<div class="cart-item">
  <div class="image">
    <ion-img [src]="product.images[0].url"></ion-img>
  </div>

  <div class="description">
    <h3>{{ product.name }}</h3>
    <p><sup>Bs. </sup>{{ product.subtotal | number: "1.2" }}</p>
  </div>

  <div class="actions">
    <ion-buttons>
      <ion-button (click)="incrementCant(product)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="counter">{{ product.cant }}</div>
    <ion-buttons>
      <ion-button (click)="decrementCant(product)">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</div>
