.product_cart_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.image_container {
  height: 5rem;
  min-width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f3f4;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: percentage($number: 0.6);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}

.detail_container {
  p {
    margin: 0.3rem 0rem;
    font-weight: 700;
  }
}

.counter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 8rem;
  height: 5rem;
  align-items: center;

  button {
    display: block;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #edbb99;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
  }
  button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 1.3rem;
    font-weight: 700;
  }
}
