<ion-content>
  <ion-grid fixed class="justify-content-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xl="4" size-lg="6" size-md="9" size-sm="12">
        <app-auth-buttons></app-auth-buttons>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xl="4" size-lg="6" size-md="9" size-sm="12">
        <app-auth-logo></app-auth-logo>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col
        size="12"
        size-xl="4"
        size-lg="6"
        size-md="9"
        size-sm="12"
        class="ion-align-items-center"
      >
        <ion-card>
          <ion-card-content>
            <form
              [formGroup]="registerForm"
              (ngSubmit)="register()"
              autocomplete="off"
            >
              <ion-item>
                <ion-label color="primary" position="floating"
                  >Nombre</ion-label
                >
                <ion-input
                  type="text"
                  formControlName="name"
                  placeholder="Nombre"
                ></ion-input>
                <span class="error_message" *ngIf="invalidField('name')">{{
                  nameMessageError
                }}</span>
              </ion-item>

              <ion-item>
                <ion-label color="primary" position="floating">Email</ion-label>
                <ion-input
                  type="text"
                  formControlName="email"
                  placeholder="Correo electronico"
                ></ion-input>
                <span class="error_message" *ngIf="invalidField('email')">{{
                  emailMessageError
                }}</span>
              </ion-item>

              <ion-item>
                <ion-label color="primary" position="floating"
                  >Contraseña</ion-label
                >
                <ion-input
                  type="password"
                  formControlName="password"
                  placeholder="***************"
                ></ion-input>
                <span class="error_message" *ngIf="invalidField('password')">{{
                  passwordMessageError
                }}</span>
              </ion-item>

              <ion-item>
                <ion-label color="primary" position="floating"
                  >Confirmacion</ion-label
                >
                <ion-input
                  type="password"
                  formControlName="password2"
                  placeholder="***************"
                ></ion-input>
                <span class="error_message" *ngIf="invalidField('password2')">{{
                  password2MessageError
                }}</span>
              </ion-item>

              <ion-item>
                <ion-label color="primary" position="floating"
                  >Telefono</ion-label
                >
                <ion-input
                  type="tel"
                  formControlName="phone"
                  placeholder="Telefono"
                ></ion-input>
                <span class="error_message" *ngIf="invalidField('phone')">{{
                  phoneMessageError
                }}</span>
              </ion-item>

              <ion-button
                *ngIf="!isLoading"
                type="submit"
                expand="block"
                fill="solid"
                shape="round"
                [disabled]="registerForm.pending"
              >
                Registrarse
              </ion-button>

              <ion-button
                *ngIf="isLoading"
                type="button"
                expand="block"
                fill="solid"
                shape="round"
                disabled
              >
                <ion-spinner name="bubbles"></ion-spinner>
                Creando...
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
