<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orders"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="options_container">
    <div class="options_container_dealer_notification">
      <app-order-dealer></app-order-dealer>
      <app-order-notification></app-order-notification>
    </div>
    <app-order-chat class="options_container_messages"></app-order-chat>
  </div>
</ion-content>
