ion-content {
  --background: #09699c;
  position: relative;
  ion-toolbar {
    --background: #09699c;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;

    ion-button {
      height: 60px;
      width: 60px;

      ion-icon {
        font-size: 2rem;
      }
    }
  }

  .card {
    height: 75%;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    border-radius: 3rem 3rem 0 0;
    padding: 2rem;

    .image {
      position: absolute;
      top: -6.5rem;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
      ion-slides {
        --bullet-background: red;
      }
    }

    .card-title {
      margin-top: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.2rem;

      h1 {
        font-weight: 700;
        font-size: 2.1rem;
      }

      p {
        font-size: 2.2rem;
        font-weight: 700;
        color: #ffb800;

        sup {
          font-size: 1.2rem;
          margin-right: -0.5rem;
        }
      }
    }

    .rates {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
    }

    .about {
      margin-bottom: 2.5rem;

      h1 {
        font-weight: 600;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #b9b9b9;
      }
    }
    ion-button {
      --box-shadow: none;
      --border-radius: 1.8rem;
      --background: #09699c;

      text-transform: initial;
      font-size: 1.2rem;
      font-weight: 600;
      height: 70px;
    }
  }
}

@media screen and (min-width: 640px) {
  ion-content {
    .card {
      height: 80vmax;
      top: 15rem;
      .image {
        top: -10rem;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  ion-content {
    --padding-start: 15%;
    --padding-end: 12%;
    .card {
      width: 66%;
      left: 9rem;
      .image {
        width: 40%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  ion-content {
    --padding-start: 15%;
    --padding-end: 16%;
    .card {
      left: 11rem;
    }
  }
}

@media screen and (min-width: 1366px) {
  ion-content {
    --padding-start: 15%;
    --padding-end: 16%;
    .card {
      width: 62%;
      left: 16rem;
    }
  }
}
