.main_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 0rem 1rem;
  padding: 1rem 0rem;
}

.promotion_scroll {
  flex-grow: 3;
  background-color: red;
}

.categories_scroll {
  flex-grow: 1;
  max-height: 25%;
}

.products_scroll {
  flex-grow: 1;
  max-height: 25%;
}
