@media only screen and (max-width: 767px) {
  .main_page {
    h2 {
      margin: 0.3rem 1rem;
    }
    height: 95%;
    display: grid;
    margin: 0 1rem;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    .promotion_scroll {
      height: 100%;
    }

    .categories_products {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
      height: 100%;
      width: 100%;
      .categories_scroll {
        height: 100%;
      }

      .products_scroll {
        height: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main_page {
    h2 {
      margin: 0.3rem 1rem;
    }
    height: 95%;
    display: grid;
    margin: 0 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    .promotion_scroll {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      height: 100%;
    }

    .categories_products {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
      height: 100%;
      .categories_scroll {
        grid-row: 1 / 2;
        height: 100%;
      }

      .products_scroll {
        grid-row: 2 / 3;
        height: 100%;
      }
    }
  }
}
.image-slide {
  height: 250px;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

.loading-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
  color: #1d1d1d;
}
