<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/cart" *ngIf="!cantInCart">
        <ion-icon slot="icon-only" name="cart-outline"> </ion-icon>
      </ion-button>

      <ion-button routerLink="/cart" *ngIf="cantInCart">
        <ion-icon slot="icon-only" name="cart-outline"> </ion-icon>
        <ion-badge color="primary" mode="md">{{cantInCart}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main_page">
    <div class="promotion_scroll">scroll view de promociones</div>
    <div class="categories_scroll">
      <h2>Categorias</h2>
      <ion-slides mode="md" [options]="categoriesSlideOpts">
        <ion-slide *ngFor="let category of categories">
          <app-category-item [category]="category"></app-category-item>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="products_scroll">
      <h2>Productos nuevos</h2>
      <ion-slides [options]="productsSlideOpts">
        <ion-slide *ngFor="let product of products">
          <app-item [product]="product"></app-item>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
