<ion-header>
  <ion-toolbar>
    <ion-title>Distribuidor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dealers"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    {{ form.value | json }} {{ name.hasError("notUnique")
    }}{{ name.hasError("required") }}
  </p>
  <img [src]="dealerUrlImage" />
  <form [formGroup]="form">
    <input type="button" value="Tomar Foto" (click)="takePicture()" />
    <input
      type="button"
      value="Elegir de la galeria"
      (click)="getFromGallery()"
    />

    <ion-item>
      <ion-label color="primary" position="floating">Nombre</ion-label>
      <ion-input
        type="text"
        placeholder="Nombre"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <div class="err-msg" *ngIf="name.invalid && (name.dirty || name.touched)">
      <p *ngIf="name.hasError('required')">El campo es requerido</p>
      <p *ngIf="name.hasError('notUnique')">
        Ya existe un Distribuidor con el mismo Nombre
      </p>
    </div>
    <ion-item>
      <ion-label color="primary" position="floating">Empresa</ion-label>
      <ion-input
        type="text"
        placeholder="Empresa"
        formControlName="company"
      ></ion-input>
    </ion-item>
    <div
      class="err-msg"
      *ngIf="company.invalid && (company.dirty || company.touched)"
    >
      <p *ngIf="company.hasError('required')">El campo es requerido</p>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input
        type="text"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div
      class="err-msg"
      *ngIf="email.invalid && (email.dirty || email.touched)"
    >
      <p *ngIf="email.hasError('required')">El campo es requerido</p>
      <p *ngIf="email.hasError('email')">Ingrese un email valido</p>
    </div>

    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input
        type="number"
        placeholder="Celular"
        formControlName="celNumber"
      ></ion-input>
    </ion-item>

    <div
      class="err-msg"
      *ngIf="celNumber.invalid && (celNumber.dirty || celNumber.touched)"
    >
      <p *ngIf="celNumber.hasError('required')">El campo es requerido</p>
    </div>
    <div>
      <ion-chip outline color="dark" *ngFor="let cel of celNumbers">
        <ion-label>{{ cel }}</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
    </div>


    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input
        type="number"
        placeholder="Nombre"
        formControlName="phoneNumber"
      ></ion-input>
    </ion-item>

    <div
      class="err-msg"
      *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
    >
      <p *ngIf="phoneNumber.hasError('required')">El campo es requerido</p>
    </div>

    <input
      type="button"
      value="Crear"
      (click)="submitForm()"
      routerLink="../list"
    />
  </form>
</ion-content>
